html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

/** Header **/
.nombre-sitio{
    text-align: center;
    margin-top: 5rem;
    font-size: 5rem;
}
.nombre-sitio span{
    color: #5d8b60;
}

/** Navegacion **/
.contenedor-navegacion{
    border-top: .1rem solid #e1e1e1;
}
.navegacion-principal{
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navegacion-principal a{
    text-decoration: none;
    color: #000;
    font-weight: 300;
}

/** Imagen **/
.hero{
    background-image: url(../img/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 120rem;
}

/** Nosotros **/
.nosotros-titulo{
    text-align: center;
    font-size: 4rem;
    color: #5d8b60;
}
.sobre-nosotros {
    background-image: linear-gradient( to right, transparent 50%, #0e631e 50%, #267c43 100% ), url(../img/foto1.jpg);
    background-position: center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 80rem;
    padding: 10rem 0;
}
.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10rem;
}
.texto-nosotros {
    grid-column: 2/3;
    color: #000;
    padding: 5rem;
}

/**Miembro**/
/* .miembro{
    background-image: linear-gradient( to right, transparent 50%, green 50%, green 100% ), url(../img/pedro.jpg);
    background-position: center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 60rem;
    padding: 10rem 0;
    margin-bottom: 5rem;
} */
.miembro{
    padding: 2rem 0;
}
.titulo{
    font-size: 4rem;
    color: #5d8b60;
}
.miembro-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #5d8b60;
}
.miembro-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo.jpg);
}
.miembro-info-1{
    grid-column: 2/3;
    color: #000;
    padding: 5rem;
}
.miembro-info-2{
    grid-column: 1/2;
    color: #000;
    padding: 5rem;
}
.miembro-info-3{
    grid-column: 2/3;
    color: #000;
    padding: 5rem;
}

/** Redes **/
.redes{
    padding: 15rem 0;
    position: relative;
    margin-top: 5rem;
    overflow: hidden;
    background-color: #5d8b60;
}
.redes:after,
.redes:before{
    background-color: white;
    content: "";
    height: 20rem;
    width: 120%;
    position: absolute;
}
.redes::before{
    top: -10rem;
    left: 0;
    transform: rotate(3deg);
}
.redes::after{
    transform: rotate(3deg);
    bottom: -10rem;
    left: -1rem;
}
.redes h2{
    color: white;
    font-size: 4rem;
}
.redes-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5rem;
    align-items: center;
}
.redes-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes-lista a{
    text-decoration: none;
    font-size: 4rem;
}
.redes-elemento{
    margin: 5rem 0;
    padding: 2rem;
    box-shadow: 10px 10px rgba(0,0,0,.25);
    transition: transform .3s;
    background-color: white;
}
.redes-elemento:hover{
    transform: scale(1.1);
}
.facebook a{
    color: #3b5998;
}
.instagram a{
    color: #C13584;
}